p
{
  color: black;
  font-size: 15pt;
  font-family: arial;
  border-style: solid;
  border-color: black;
  border-width: 20px;
  background-color:white;
}

body
{
  background-color: white;
}

h1
{
  color: black;
}